<div
  class="flex flex-column justify-content-center align-items-center"
  *ngIf="viewModel$ | async as viewModel"
>
  <div
    *ngIf="showinputMap$ | async as showInputMap"
    class="flex flex-column w-11 xl:w-5"
  >
    <div class="flex-1 mt-2 flex flex-row justify-content-center">
      <p-dropdown
        class="flex-1"
        [options]="weeks"
        [ngModel]="week"
        optionLabel="name"
        (ngModelChange)="handleWeekChange($event)"
      ></p-dropdown>
      <p-button
        (click)="toggleSidebar()"
        class="align-self-end"
        label="Instructions"
        icon="pi pi-info-circle"
        styleClass="p-button-sm"
      ></p-button>
    </div>
    <div class="flex-1 flex flex-row m-4">
      <div class="flex-1 text-center text-lg font-bold">Favorite</div>
      <div class="flex-1 text-center text-lg font-bold">Underdog</div>
    </div>
    <div *ngFor="let event of viewModel.events">
      <div
        class="mb-2 text-lg text-center"
        *ngIf="daySeperators.get(event.shortName)"
      >
        {{ daySeperators.get(event.shortName) }}
      </div>
      <ng-container *ngIf="getFavorite(event) as favorite">
        <ng-container *ngIf="getUnderdog(event) as underdog">
          <app-event
            *ngIf="betAmount$ | async as betAmount"
            [betAmount]="betAmount"
            [favorite]="favorite"
            [showInputMap]="showInputMap"
            [underdog]="underdog"
            [event]="event"
            (eventBetEvent)="setBet($event)"
            (eventSelectEvent)="handleSelectEvent($event)"
          ></app-event>
        </ng-container>
      </ng-container>
    </div>
  </div>
  <div *ngIf="total$ | async as total" class="mb-2 font-bold">
    Current total: {{ total.amount }}.00
  </div>
  <p-button
    *ngIf="submitButton$ | async"
    class="mb-5"
    [disabled]="anyInvalidBets() || lateDay"
    (onClick)="submit(viewModel)"
    >Submit</p-button
  >
  <p-sidebar
    [(visible)]="viewModel.displaySidebar"
    position="right"
    [modal]="false"
    (onHide)="turnOffSidebar()"
  >
    <h3 class="text-center">Pick Instructions</h3>
    <ul class="list-disc text-lg">
      <li>
        Select teams you would like to bet on by
        <b>Wednesday 11:59 PM PST</b> for the Thursday night game, and
        <b>Friday 11:59 PM PST</b> for all others.
      </li>
      <li>
        After selecting the team, enter the amount below that you would like to
        wager.
      </li>
      <li>
        We'll pair you with others betting on the opposite side of your pick.
      </li>
      <li>If there is no opposite better, your bet will not be filled.</li>
      <li>
        Hit the "submit" button at the bottom of the page to save your bets.
      </li>
    </ul>
  </p-sidebar>
</div>
