<div *ngIf="viewModel$ | async as viewModel" class="center">
    <div *ngFor="let bet of viewModel.outstanding" class="bets"
    (click)="resolve(bet,viewModel.user?.email)"
    [class.mine]="
    bet.personOne === viewModel.user?.email || bet.personTwo === viewModel.user?.email 
  ">
        <div class="pick" >
            <div *ngIf="
            bet.personOne == bet.winner
          ">
            <b>Winner</b>
            </div>
          <div>
            {{ stripDomain(bet.personOne) }}
          </div>
          <img width="40" height="40" [src]="getImg(bet.personOneTeam)" />
        </div>
        <div class="info">
          <div class="spread">{{ bet.spread }}</div>
          <div class="amount">$ {{ bet.amount }}</div>
        </div>
        <div class="pick">
            <div *ngIf="
            bet.personTwo == bet.winner
          ">
            <b>Winner</b>
            </div>
          <div>
            {{ stripDomain(bet.personTwo) }}
          </div>
          <img width="40" height="40" [src]="getImg(bet.personTwoTeam)" />
       </div>
      </div>
  </div>
  