<div
  *ngIf="liveBets$ | async as liveBets"
  class="flex flex-column justify-content-center align-items-center"
>
  <div class="flex flex-column w-11 md:w-4">
    <div *ngFor="let bet of liveBets" class="flex flex-row flex-1 mt-2">
      <div
        class="flex-1 flex flex-column border-round-sm surface-200 border-400 border-1 p-2 justify-content-center"
      >
        <div class="flex-1 text-center">
          {{ stripDomain(bet.personOne) }}
        </div>
        <div class="flex flex-row justify-content-center">
          <img width="50" height="50" [src]="getImg(bet.personOneTeam)" />
        </div>
      </div>
      <div
        class="flex flex-column w-6rem text-center justify-content-center font-bold spread"
      >
        <div class="spread">{{ bet.spread }}</div>
        <div class="amount">Wager: {{ bet.amount }}</div>
      </div>
      <div
        class="flex-1 flex flex-column border-round-sm surface-200 border-400 border-1 p-2 justify-content-center"
      >
        <div class="flex-1 text-center">
          {{ stripDomain(bet.personTwo) }}
        </div>
        <div class="flex flex-row justify-content-center">
          <img width="50" height="50" [src]="getImg(bet.personTwoTeam)" />
        </div>
      </div>
    </div>
  </div>
</div>
