<p-menubar [model]="items" styleClass="menubar">
  <ng-template pTemplate="start">
    <button
      pButton
      pRipple
      label="BetBuds"
      type="button"
      icon="pi pi-dollar"
      class="p-button-rounded p-button-text"
      routerLink="/home"
    ></button>
  </ng-template>
  <ng-template pTemplate="end">
    <button
      type="button"
      pButton
      icon="pi pi-user"
      label="&#x25BC;"
      (click)="menu.toggle($event)"
    ></button>
    <p-menu #menu [popup]="true" [model]="userItems"></p-menu>
  </ng-template>
</p-menubar>
<div class="wrapper flex flex-column">
  <div class="content flex-1">
    <router-outlet></router-outlet>
  </div>
  <div class="footer flex flex-column bottom-0 left-0 px-4 py-3 w-full mt-3">
    <div class="font-bold flex flex-row justify-content-center">
      <div>
        <img height="50" src="assets/logos/output.png" class="mr-2" />
      </div>
    </div>
    <div class="text-center">© BetBuds 2022</div>
    <div class="text-center">
      BetBuds is for entertainment and friendly shit talk purposes only
    </div>
  </div>
</div>
<p-toast position="top-center"></p-toast>
<div class="spinner" *ngIf="spinner.isSpinning$ | async">
  <p-progressSpinner></p-progressSpinner>
</div>
<p-confirmDialog
  header="Confirmation"
  icon="pi pi-exclamation-triangle"
></p-confirmDialog>
