<div *ngIf="leaderboard$ | async as players" class="center">
    <p-table [value]="players" responsiveLayout="scroll">
        <ng-template pTemplate="header">
            <tr>
                <th>Rank</th>
                <th>Email</th>
                <th>Winnings</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-player>
            <tr>
                <td>{{player.rank}}</td>
                <td>{{player.email}}</td>
                <td>${{player.winnings}}</td>
            </tr>
        </ng-template>
    </p-table>
    </div>